//variable
@import "partials/variable";

.header {
  background-color: $light;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.navbar {
  padding: 0;
}
.navbar-brand {
  padding: 0;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.logo-img {
  width: 95px;
  height: 56px;
}

.footer {
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #717171;
  text-align: center;
}
